.label-container:hover > .label {
  opacity: 1;
}

.label-container > .label {
  content: 'Search';
  border-radius: 3px;
  top: 0px;
  padding: 10px 7px;
  transition: opacity 100ms linear;
  transform: translate(0px, 60px);
  position: absolute;
  background-color: #666666;
  color: white;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.label-container {
  justify-content: center;
  display: inline-flex;
}
